body, html {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Lemon Milk", serif;
    font-weight: 800;
    font-size: 28px;
    color: #d9534f;
}
p {
    font-family: "Lemon Milk", serif;
    font-weight: 600;
    font-size: 28px;
    color: #d9534f;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9534f;
    color: #ffebeb;
    padding: 10px 20px;
}
.header-left {
    display: flex;
    align-items: center;
}
.logo {
height:auto;
max-width: 50px;
display: block;
margin-right: 20px;
}
.title {
    font-size: 2rem;
    font-family: "Lemon Milk", serif;
    font-weight: 800;
}

.tabs {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: -28px;
}
.tab {
    background-color: #ffebeb;
    color: #d9534f;
    padding: 15px 30px;
    cursor: pointer;
    position: relative;
    margin: 0 4px;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s, color 0.3s;
}
.tab:hover {
    background-color: #832318;
}
.tab.active {
    background-color: #fff;
    color: #d9534f;
}

main {
    padding: 20px;
    position: relative;
    background-color: #fff;
}
.page-content {
    display: none;
}
.page-content.active {
    display: block;
}

.centered-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 75vh;
    position: relative;
    padding-left: 15%;
    width: 100%;
    margin: 0 auto;
}
.line {
    font-size: 6rem;
    margin: 0;
    text-align: left;
}
.top-line {
    font-size: 5rem;
}
.navigation-reminder {
    position: fixed;
    top: 90px;
    right: 110px;
    margin: 10px;
    z-index: 1000;
}

.scroll-arrow {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #555;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 1000;
}
.scroll-arrow.hidden {
    opacity: 0;
    pointer-events: none;
}
.scroll-container {
    position: relative;
    height: 300vh;
    width: 80%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
.hidden-text {
    position: absolute;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    max-width: 350px;
}
.hidden-text.revealed {
    opacity: 1;
    transform: translateY(0);
}
.text-one {
    top: 20%;
    left: 20%;
}
.text-two {
    top: 30%;
    right: 15%;
}
.text-three {
    top: 55%;
    left: 15%;
}
.text-four {
    top: 70%;
    right: 10%;
}

.work-tab {
    display: flex;
    width: 100%;
    height: calc(100vh - 95px);
    position: fixed;
    top: 95px;
    left: 0;
}
.left-half {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #ffebeb;
    box-sizing: border-box;
}
.description {
    flex: 1;
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #d9534f;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 5px 0 0 0;
    text-align: center;
}
.commission {
    flex: 1;
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 0 0 0 5px;
    text-align: center;
}

.showcase-box {
    display: none;
    width: 40%;
    position: fixed;
    top: 95px;
    right: 0;
    height: calc(100vh - 95px);
    padding: 35px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffebeb;
    border: 1px solid #d9534f;
    border-radius: 5px;
    z-index: 10;
}
.showcase-box.active {
    display: grid;
    gap: 10px;
}
.showcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.showcase-box::-webkit-scrollbar {
    display: none;
}
.showcase img {
    width: 100%;
    height: auto;
}

.popup-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.popup-content {
    background-color: #ffebeb;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
button {
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #832318;
}

#experiences {
    text-align: center;
    margin: 0 auto;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    top: 25%;
}
.social-icons {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}
.social-icons:hover {
    transform: scale(1.1);
}