body {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
    color: #1b1b1b;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lemon Milk", serif;
    font-weight: 800;
    font-size: 28px;
    color: #1b1b1b;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9534f;
    color: #fff;
    padding: 10px 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
height:auto;
max-width: 50px;
display: block;
margin-right: 20px;
}

.title {
    font-size: 2rem;
    font-family: "Lemon Milk", serif;
    font-weight: 800;
}

.tabs {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: -28px;
}

.tab {
    background-color: #ffebeb;
    color: #d9534f;
    padding: 15px 30px;
    cursor: pointer;
    position: relative;
    margin: 0 4px;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s, color 0.3s;
}

.tab:hover {
    background-color: #832318;
}

.tab.active {
    background-color: #fff;
    color: #d9534f;
}

main {
    padding: 20px;
    position: relative;
    background-color: #fff;
}

.page-content {
    display: none;
}
.page-content.active {
    display: block;
}

.work-tab {
    display: flex;
    width: 100%;
    height: calc(100vh - 95px);
    position: fixed;
    top: 95px;
    left: 0;
}
.left-half {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #ffebeb;
    box-sizing: border-box;
}
.description {
    flex: 1;
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #d9534f;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 5px 0 0 0;
    text-align: center;
}
.commission {
    flex: 1;
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 0 0 0 5px;
    text-align: center;
}

.showcase-box {
    display: none;
    width: 45%;
    position: fixed;
    top: 95px;
    right: 0;
    height: calc(100vh - 95px);
    padding: 35px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffebeb;
    border: 1px solid #d9534f;
    border-radius: 5px;
    z-index: 10;
}
.showcase-box.active {
    display: grid;
    gap: 10px;
}
.showcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.showcase-box::-webkit-scrollbar {
    display: none;
}
.showcase img {
    width: 100%;
    height: auto;
}

.popup-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.popup-content {
    background-color: #ffebeb;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
button {
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #832318;
}